@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["ChordsIntervals"]</h1>
    
    <div class="innercontainer">
        <!--КОНТЕЙНЕР ПРАВОРУЧ (ВГОРІ)-->
        <div id="rightcontainer" class="halfcontainer">    
            <p class="full-row">Акорд згенеровано! Спробуєш вгадати?</p>
            <form id="playform" class="full-row" method="post" asp-page-handler="Play">
                <button id="playBtn" type="button">Відтворити</button>
            </form>

            <audio id="chordAudio" preload="auto"></audio>

            <!-- ПЕРЕМИКАЧ КІЛЬКОСТІ ЗВУКІВ-->
            <div id="numberOfSoundsSelector" class="innercontainer">
                <p>Скільки звуків?</p>
                <form id="selectform" method="post" asp-page-handler="Select">
                    <input type="hidden" asp-for="MaxCount" />
                    <input id="sound2" type="radio" name="SelectedCount" value="2" @(Model.SelectedCount == 2 ? "checked" : "")>2
                    <input id="sound3" type="radio" name="SelectedCount" value="3" @(Model.SelectedCount == 3 ? "checked" : "")>3
                    <input id="sound4" type="radio" name="SelectedCount" value="4" @(Model.SelectedCount == 4 ? "checked" : "")>4
                    <input id="sound5" type="radio" name="SelectedCount" value="5" @(Model.SelectedCount == 5 ? "checked" : "")>5
                </form>
            </div>
            
            <div id="recognisebox" class="innercontainer">
                
                <form id="recogniseform" method="post" asp-page-handler="Recognise">
                    <input type="hidden" asp-for="MaxCount" />
                    <!--ТИП АКОРДУ-->
                    <div style="display:block; margin:5px">
                        <select asp-for="SelectedType" id="SelectedType" class="select-quality">
                        <option value="">--</option>
                        @foreach (var type in Model.TypeOptions)
                        {
                            <option value="@type" selected="@(Model.SelectedType == type)">@type</option>
                        }
                    </select>
                    </div>
                    <!--РІЗНОВИД (якість)-->
                    <div style="display:block; margin:5px">
                    <select asp-for="SelectedQuality" id="SelectedQuality" class="select-quality">
                        @foreach (var quality in Model.QualityOptions)
                        {
                            <option value="@quality" selected="@(Model.SelectedQuality == quality)">@quality</option>
                        }
                    </select>
                    </div>
                    <input type="hidden" asp-for="SelectedCount" />
                    <button id="recogniseButton" type="submit">Перевірити</button>
                </form>
            </div>
        </div>
        
        <!--КОНТЕЙНЕР ЛІВОРУЧ (ЗНИЗУ)-->
        <div id="leftcontainer" class="halfcontainer">
            <div id="resultBox">
                @if (Model.RecogniseOk is not null)
                {
                    @if (Model.RecogniseOk == true)
                    {
                        <div class="answer-correct">
                            <p class="text-success">@Model.GuessResult</p>
                            <p class="text-success">Правильна відповідь: <code>@Model.RecogniseCorrect</code></p>
                        </div>
                    }
                    else
                    {
                        <div>
                            <p class="text-danger">@Model.GuessResult</p>
                            <p>Введено: <code>@Model.UserAnswer</code></p>

                            <p class="text-danger">Правильна відповідь: <code>@Model.RecogniseCorrect</code></p>
                        </div>
                    }
                }
                else
                {
                    <p>Виберіть параметри акорду та натисніть "Перевірити"</p>
                }
            </div>
            
        </div>
        <p> @Model.RequestCount спроб на сайті</p>
    </div>
    <div>
        <form id="maxsoundsform" method="post" asp-page-handler="max">
            <p>Максимальна кількість звуків: </p>
            <input id="maxsoundsinput" type="range" name="maxCount" min="2" max="5" value="@Model.MaxCount" />
            <label for="maxsoundsinput">@Model.MaxCount</label>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        window.generatedChord = @Html.Raw(Model.GeneratedChordJson ?? "null");
        window.generatedFile = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.GeneratedFileRelative ?? string.Empty));
    </script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}
